.a-payment {
	$self: &;
	padding: 80px 0;
	
	@include media('<=sm') {
		padding: 60px 0;
	}
	
	@include media('<=xxs') {
		padding: 40px 0 20px;
	}

	&__top {
		margin-bottom: 80px;
		
		@include media('<=md') {
			margin-bottom: 45px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 20px;
		}
	}

	&__title {

	}

	&__inner {

	}

	&__items {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		box-sizing: border-box;
		align-items: center;
		white-space: nowrap;
		overflow: hidden;
		padding: 35px;
		box-sizing: border-box;
		border: 2px solid rgb(var(--color));
		margin-bottom: 38px;
		
		@include media('<=xxlg') {
			padding: 30px;
			margin-bottom: 30px;
		}
		
		@include media('<=xlg') {
			padding: 25px;
			margin-bottom: 25px;
		}
		
		@include media('<=md') {
			padding: 20px;
			margin-bottom: 20px;
		}
		
		@include media('<=sm') {
			border-width: 1px;
			padding: 13px;
			letter-spacing: 0;
			margin-bottom: 15px;
		}
		
		@include media('<=xxs') {
			padding: 9px;
		}

		&:not(:last-child) {
			margin-right: 38px;
		
			@include media('<=xxlg') {
				margin-right: 30px;
			}
		
			@include media('<=xlg') {
				margin-right: 25px;
			}
				
			@include media('<=md') {
				margin-right: 20px;
			}
				
			@include media('<=sm') {
				margin-right: 15px;
			}
		}

		&::before {
			display: none;
			content: '';
			width: 48px;
			height: 48px;
			animation: fadeIn 0.3s;
			background-size: 150% 150%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: transparent;
			margin-right: 10px;
			flex-shrink: 0;
			
			@include media('<=xlg') {
				height: 40px;
				width: 40px;
			}
			
			@include media('<=md') {
				height: 35px;
				width: 35px;
			}
			
			@include media('<=xxs') {
				height: 25px;
				width: 25px;
			}
			
			@include media('<=xxxs') {
				height: 22px;
				width: 22px;
			}
		}

		@at-root[data-image='false'] &::before {
			display: none !important;
		}

		&_mobile::before {
			display: block;
			@include atRootThemeIcons('mob');
		}

		&_faucet::before {
			display: block;
			@include atRootThemeIcons('faucet');
		}

		&_union::before {
			display: block;
			@include atRootThemeIcons('union');
		}

		&_wifi::before {
			display: block;
			@include atRootThemeIcons('wifi');
		}

		&_plane::before {
			display: block;
			@include atRootThemeIcons('plane');
		}

		&_car::before {
			display: block;
			@include atRootThemeIcons('car');
		}

		&_parking::before {
			display: block;
			@include atRootThemeIcons('parking');
		}

		&_crew::before {
			display: block;
			@include atRootThemeIcons('crew');
		}

		&_wallet2::before {
			display: block;
			@include atRootThemeIcons('wallet2');
		}

		&_tv::before {
			display: block;
			@include atRootThemeIcons('tv');
		}

		&_phone::before {
			display: block;
			@include atRootThemeIcons('phone');
		}

		&_percent::before {
			display: block;
			@include atRootThemeIcons('percent');
		}

		&_game::before {
			display: block;
			@include atRootThemeIcons('game');
		}

		&_bag::before {
			display: block;
			@include atRootThemeIcons('bag');
		}
	}
}
