.a-payment {
	$self: &;
	padding: 80px 0;

	&__top {
		margin-bottom: 80px;
	}

	&__title {

	}

	&__inner {

	}

	&__items {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		box-sizing: border-box;
		align-items: center;
		white-space: nowrap;
		overflow: hidden;
		padding: 35px;
		box-sizing: border-box;
		border: 2px solid rgb(var(--color));
		margin-bottom: 38px;

		&:not(:last-child) {
			margin-right: 38px;
		}

		&::before {
			display: none;
			content: '';
			width: 48px;
			height: 48px;
			animation: fadeIn 0.3s;
			background-size: 150% 150%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: transparent;
			margin-right: 10px;
			flex-shrink: 0;
		}

		@at-root[data-image='false'] &::before {
			display: none !important;
		}

		&_mobile::before {
			display: block;
			@include atRootThemeIcons('mob');
		}

		&_faucet::before {
			display: block;
			@include atRootThemeIcons('faucet');
		}

		&_union::before {
			display: block;
			@include atRootThemeIcons('union');
		}

		&_wifi::before {
			display: block;
			@include atRootThemeIcons('wifi');
		}

		&_plane::before {
			display: block;
			@include atRootThemeIcons('plane');
		}

		&_car::before {
			display: block;
			@include atRootThemeIcons('car');
		}

		&_parking::before {
			display: block;
			@include atRootThemeIcons('parking');
		}

		&_crew::before {
			display: block;
			@include atRootThemeIcons('crew');
		}

		&_wallet2::before {
			display: block;
			@include atRootThemeIcons('wallet2');
		}

		&_tv::before {
			display: block;
			@include atRootThemeIcons('tv');
		}

		&_phone::before {
			display: block;
			@include atRootThemeIcons('phone');
		}

		&_percent::before {
			display: block;
			@include atRootThemeIcons('percent');
		}

		&_game::before {
			display: block;
			@include atRootThemeIcons('game');
		}

		&_bag::before {
			display: block;
			@include atRootThemeIcons('bag');
		}
	}
}
