.a-title {
	$self: &;
	font-size: calc(var(--size) + 100px);
	color: rgb(var(--color));
	letter-spacing: calc(var(--spacing) - 2px);
	font-weight: 600;
	line-height: 1;
	
	@include media('<=sm') {
		font-size: calc(var(--size) + 64px);
	}
	
	@include media('<=xxs') {
		font-size: calc(var(--size) + 42px);
	}
	
	&_subtitle {
		font-size: calc(var(--size) + 42px);
		letter-spacing: calc(var(--spacing) - 1.68px);
		font-weight: 700;
	
		@include media('<=xxxlg') {
			font-size: calc(var(--size) + 39px);
		}
	
		@include media('<=xxlg') {
			font-size: calc(var(--size) + 37px);
		}
	
		@include media('<=lg') {
			font-size: calc(var(--size) + 35px);
		}
	
		@include media('<=md') {
			font-size: calc(var(--size) + 33px);
		}
	
		@include media('<=sm') {
			font-size: calc(var(--size) + 32px);
		}
	
		@include media('<=xs') {
			font-size: calc(var(--size) + 26px);
		}
	
		@include media('<=xxs') {
			font-size: calc(var(--size) + 22px);
		}
	}
}