.account {
	$self: &;
	background-color: #fff;
	padding: 160px 0;
	
	@include media('<=md') {
		padding: 80px 0;
	}
	
	@include media('<=sm') {
		padding: 44px 0;
	}

	&__top {
		margin-bottom: 60px;
		
		@include media('<=sm') {
			margin-bottom: 24px;
		}
	}

	&__title {

	}

	&__t-text {

	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
		
		@include media('<=xxlg') {
			grid-gap: 30px;
		}
		
		@include media('<=lg') {
			grid-gap: 20px;
		}
		
		@include media('<=md') {
			grid-gap: 15px;
		}
		
		@include media('<=sm') {
			grid-gap: 10px;
		}
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__card {
		box-sizing: border-box;;
		grid-column: 1 span;
		border-radius: 40px;
		padding: 40px;
		color: #fff;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		
		@include media('<=xxlg') {
			border-radius: 30px;
			padding: 30px;
		}
		
		@include media('<=lg') {
			border-radius: 25px;
			padding: 25px;
		}
		
		@include media('<=md') {
			border-radius: 20px;
			padding: 20px;
		}
		
		@include media('<=sm') {
			border-radius: 16px;
			padding: 16px;
		}
		
		@include media('<=xs') {
			margin-bottom: 20px;
		}

		&_green {
			background: linear-gradient(180deg, #15BD30 0%, #55F670 100%);		
		}

		&_lilac {
			background: linear-gradient(180deg, #6A36FE 0%, #9576EF 100%);			
		}

		&_violet {
			background: linear-gradient(180deg, #404668 0%, #6470B4 100%);
		}
	}

	&__c-icon {
		display: block;
		margin-bottom: 30px;
		max-width: 100px;
		
		@include media('<=xxlg') {
			margin-bottom: 25px;
		}
		
		@include media('<=lg') {
			max-width: 80px;
		}
		
		@include media('<=md') {
			max-width: 60px;
			margin-bottom: 20px;
		}
		
		@include media('<=sm') {
			margin-bottom: 15px;
			max-width: 40px;
		}
		
		@include media('<=xs') {
			max-width: 80px;
		}
	}

	&__c-title {
		color: inherit;
		margin-bottom: 15px;
		font-size: 42px;
		
		@include media('<=xxlg') {
			@include setFontSize(42px, 18px, 1440px, 780px);
		}
		
		@include media('<=sm') {
			margin-bottom: 5px;
			font-size: 18px;
		}
		
		@include media('<=xs') {
			font-size: 22px;
		}
		
		@include media('<=xxs') {
			font-size: 24px;
		}
	}
	
	&__c-text {
		margin-bottom: 40px;
		font-size: 28px;
		
		@include media('<=xxlg') {
			@include setFontSize(28px, 12px, 1440px, 780px);
			margin-bottom: 30px;
		}
		
		@include media('<=lg') {
			margin-bottom: 25px;
		}
		
		@include media('<=sm') {
			font-size: 12px;
			margin-bottom: 10px;
		}
		
		@include media('<=xs') {
			font-size: 18px;
			margin-bottom: 24px;
		}

		p {
			@include media('<=sm') {
				margin-bottom: 6px;
			}
		}
	}
	
	&__c-link {
		box-sizing: border-box;
		color: inherit;
		display: block;
		text-decoration: none;
		background: rgba(255, 255, 255, 0.1);
		padding: 25px 40px 30px;
		border-radius: 20px;
		text-align: center;
		margin-top: auto;
		font-size: 34px;
		
		@include media('<=xxlg') {
			@include setFontSize(34px, 14px, 1440px, 780px);
		}
		
		@include media('<=xlg') {
			padding: 20px 35px 25px;
			border-radius: 15px;
		}
		
		@include media('<=md') {
			padding: 15px 30px 20px;
			border-radius: 15px;
		}
		
		@include media('<=sm') {
			padding: 10px 16px 12px;
			border-radius: 8px;
			font-size: 14px;
		}
		
		@include media('<=xs') {
			padding: 15px 40px 20px;
			font-size: 18px;
			width: 100%;
		}
	}
}