.account {
	$self: &;
	background-color: #fff;
	padding: 160px 0;
	
	@include media('<=xxlg') {
		padding: 120px 0 130px;
	}
	
	@include media('<=lg') {
		padding: 90px 0 100px;
	}
	
	@include media('<=sm') {
		padding: 45px 0;
	}
	
	@include media('<=xxs') {
		padding: 35px 0 20px;
	}
	
	&__top {
		margin-bottom: 55px;
	
		@include media('<=xxlg') {
			margin-bottom: 40px;
		}
		
		@include media('<=lg') {
			margin-bottom: 30px;
		}

		@include media('<=sm') {
			margin-bottom: 23px;
		}

		@include media('<=xxs') {
			margin-bottom: 28px;
		}
	}

	&__title {

	}

	&__t-text {

	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		font-size: 40px;
		grid-gap: 40px;
		@include range(40px, 10px, 1440px, 780px, 'grid-gap');
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__card {
		box-sizing: border-box;;
		grid-column: 1 span;
		color: #fff;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		border-radius: 40px;
		padding: 40px;
		@include range(40px, 16px, 1440px, 780px, 'border-radius');
		@include range(40px, 30px, 1920px, 1440px, 'padding');
		@include range(30px, 16px, 1440px, 780px, 'padding');

		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: cardFadeInUp 0.7s;
				animation-fill-mode: forwards;
	
				@for $i from 1 through 5 {
					&:nth-child(#{$i}) {
						animation-delay: #{$i * 0.3}s;
					}
				}
			}
		}
		
		@include media('<=xs') {
			margin-bottom: 20px;
		}

		&_green {
			background: linear-gradient(180deg, #15BD30 0%, #55F670 100%);		
		}

		&_lilac {
			background: linear-gradient(180deg, #6A36FE 0%, #9576EF 100%);			
		}

		&_sea {
			background: linear-gradient(180deg, #00B5C6 0%, #00909D 100%);
		}

		&_violet {
			background: linear-gradient(180deg, #404668 0%, #6470B4 100%);
		}
	}

	&__c-icon {
		display: block;
		max-width: 100px;
		margin-bottom: 25px;
		@include range(100px, 90px, 1920px, 1440px, 'max-width');
		@include range(90px, 40px, 1440px, 780px, 'max-width');
		@include range(22px, 12px, 1920px, 1440px, 'margin-bottom');
		
		@include media('<=xs') {
			max-width: 80px;
			margin-bottom: 0;
		}
	}

	&__c-title {
		color: inherit;
		margin-bottom: 15px;
		font-family: "DM", sans-serif;
		font-weight: 500;
		font-size: 42px;
		@include range(42px, 32px, 1920px, 1440px);
		@include range(32px, 18px, 1440px, 780px);
		
		@include media('<=sm') {
			margin-bottom: 5px;
		}
		
		@include media('<=xs') {
			font-size: 22px;
		}
		
		@include media('<=xxs') {
			font-size: 24px;
		}
	}
	
	&__c-text {
		font-size: 28px;
		margin-bottom: 40px;
		line-height: 1.27;
		letter-spacing: -0.03em;
		@include range(28px, 20.5px, 1920px, 1440px);
		@include range(20.5px, 12px, 1440px, 780px);
		
		@include media('<=xxlg') {
			margin-bottom: 23px;
		}
		
		@include media('<=lg') {
			margin-bottom: 20px;
		}
		
		@include media('<=sm') {
			margin-bottom: 10px;
		}
		
		@include media('<=xs') {
			font-size: 17.4px;
			margin-bottom: 24px;
			line-height: 1.37;
		}

		p {
			margin-bottom: 9px;
			
			@include media('<=sm') {
				margin-bottom: 4px;
			}
		}
	}
	
	&__c-link {
		box-sizing: border-box;
		color: inherit;
		display: block;
		text-decoration: none;
		background: rgba(255, 255, 255, 0.1);
		padding: 25px 40px 30px;
		border-radius: 20px;
		text-align: center;
		margin-top: auto;
		font-size: 34px;
		@include range(34px, 26px, 1920px, 1440px);
		@include range(26px, 14px, 1440px, 780px);
		
		@include media('<=xxlg') {
			padding: 20px 35px 25px;
			border-radius: 15px;
		}
		
		@include media('<=md') {
			padding: 15px 30px 20px;
			border-radius: 15px;
		}
		
		@include media('<=sm') {
			padding: 10px 16px 12px;
			border-radius: 8px;
		}
		
		@include media('<=xs') {
			padding: 15px 40px 20px;
			font-size: 18px;
			width: 100%;
		}
	}
}