.account {
	$self: &;
	background-color: #fff;
	@include range(160px, 45px, 1920px, 780px, 'padding-top');
	@include range(160px, 45px, 1920px, 780px, 'padding-bottom');
	
	&__top {
		@include range(60px, 24px, 1440px, 780px, 'margin-bottom');
	}

	&__title {

	}

	&__t-text {

	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include range(40px, 10px, 1440px, 780px, 'grid-gap');
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__card {
		box-sizing: border-box;;
		grid-column: 1 span;
		color: #fff;
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		@include range(40px, 16px, 1440px, 780px, 'border-radius');
		@include range(40px, 16px, 1440px, 780px, 'padding');
		
		@include media('<=xs') {
			margin-bottom: 20px;
		}

		&_green {
			background: linear-gradient(180deg, #15BD30 0%, #55F670 100%);		
		}

		&_lilac {
			background: linear-gradient(180deg, #6A36FE 0%, #9576EF 100%);			
		}

		&_violet {
			background: linear-gradient(180deg, #404668 0%, #6470B4 100%);
		}
	}

	&__c-icon {
		display: block;
		@include range(100px, 40px, 1440px, 780px, 'max-width');
		@include range(30px, 15px, 1440px, 780px, 'margin-bottom');
		
		@include media('<=xs') {
			max-width: 80px;
		}
	}

	&__c-title {
		color: inherit;
		margin-bottom: 15px;
		@include range(42px, 18px, 1440px, 780px);
		
		@include media('<=sm') {
			margin-bottom: 5px;
		}
		
		@include media('<=xs') {
			font-size: 22px;
		}
		
		@include media('<=xxs') {
			font-size: 24px;
		}
	}
	
	&__c-text {
		margin-bottom: 40px;
		@include range(28px, 12px, 1440px, 780px);
		
		@include media('<=xxlg') {
			margin-bottom: 30px;
		}
		
		@include media('<=lg') {
			margin-bottom: 25px;
		}
		
		@include media('<=sm') {
			margin-bottom: 10px;
		}
		
		@include media('<=xs') {
			font-size: 18px;
			margin-bottom: 24px;
		}

		p {
			@include media('<=sm') {
				margin-bottom: 6px;
			}
		}
	}
	
	&__c-link {
		box-sizing: border-box;
		color: inherit;
		display: block;
		text-decoration: none;
		background: rgba(255, 255, 255, 0.1);
		padding: 25px 40px 30px;
		border-radius: 20px;
		text-align: center;
		margin-top: auto;
		@include range(34px, 14px, 1440px, 780px);
		
		@include media('<=xlg') {
			padding: 20px 35px 25px;
			border-radius: 15px;
		}
		
		@include media('<=md') {
			padding: 15px 30px 20px;
			border-radius: 15px;
		}
		
		@include media('<=sm') {
			padding: 10px 16px 12px;
			border-radius: 8px;
		}
		
		@include media('<=xs') {
			padding: 15px 40px 20px;
			font-size: 18px;
			width: 100%;
		}
	}
}