<footer class="a-footer">
	<div class="a-footer__inner container">
		<div class="a-footer__col">
			<h4 class="a-footer__text">Menu</h4>
			<a class="a-footer__link" href="./">Insurance</a>
			<a class="a-footer__link" href="./">Cryptocurrency</a>
			<a class="a-footer__link" href="./">Lifestyle</a>
		</div>
		<div class="a-footer__col">
			<h4 class="a-footer__text">Cashback from partners</h4>
			<a class="a-footer__link" href="./">News</a>
			<a class="a-footer__link" href="./">About us</a>
		</div>
		<div class="a-footer__col">
			<h4 class="a-footer__text">Subscribe</h4>
			<a class="a-footer__link" href="./">twitter</a>
			<a class="a-footer__link" href="./">facebook</a>
			<a class="a-footer__link" href="./">instagram</a>
		</div>
		<div class="a-footer__col">
			<a class="a-footer__logo" href="./"></a>
			<p class="a-footer__text"></p>
		</div>
		<div class="a-footer__col">
			<p class="a-footer__text">Call center operating hours 24/7<br> We respond with in 1 minute</p>
			<a class="a-footer__button a-button" href="./">Support Chat</a>
		</div>
		<div class="a-footer__col">
			<a class="a-footer__button a-button" href="./">App Store</a>
			<a class="a-footer__button a-button" href="./">Google play</a>
		</div>
	</div>
</footer>
<div class="a-panel">
	<div class="a-panel__top">
		<div class="a-panel__t-inner container">
			<button class="a-panel__t-close"></button>
			<div class="a-panel__row">
				<span class="a-panel__title">Select font</span>
				<div class="a-panel__buttons">
					<input type="radio" name="font" id="sansserif" checked data-label="Sans-serif">
					<input type="radio" name="font" id="serif" data-label="Serif">
				</div>
			</div>
			<div class="a-panel__row">
				<span class="a-panel__title">Letter spacing</span>
				<div class="a-panel__buttons">
					<input type="radio" name="spacing" id="standart" checked data-label="Standart">
					<input type="radio" name="spacing" id="medium" data-label="Medium">
					<input type="radio" name="spacing" id="large" data-label="Large">
				</div>
			</div>
		</div>
	</div>
	<div class="a-panel__bottom">
		<div class="a-panel__b-inner container">
			<div class="a-panel__col">
				<span class="a-panel__title">Font size</span>
				<div class="a-panel__controls a-controls">
					<input type="radio" name="size" id="small" data-label="A">
					<input type="radio" name="size" id="normal" checked data-label="A">
					<input type="radio" name="size" id="big" data-label="A">
				</div>
			</div>
			<div class="a-panel__col">
				<span class="a-panel__title">Website color</span>
				<div class="a-panel__controls a-controls">
					<input type="radio" name="theme" id="white" checked data-label="A">
					<input type="radio" name="theme" id="dark" data-label="A">
					<input type="radio" name="theme" id="cornsilk" data-label="A">
					<input type="radio" name="theme" id="brown" data-label="A">
					<input type="radio" name="theme" id="skyblue" data-label="A">
				</div>
			</div>
			<div class="a-panel__col">
				<span class="a-panel__title">Image</span>
				<div class="a-panel__controls a-controls">
					<input type="checkbox" name="image" checked>
				</div>
			</div>
			<div class="a-panel__col">
				<span class="a-panel__title">More settings</span>
				<div class="a-panel__controls a-controls">
					<button id="more"></button>
				</div>
			</div>
		</div>
	</div>
	<a class="a-panel__back" href="./">Back to standard version</a>
</div>
<script src="common.js"></script> 
</body> 
</html>