<header class="a-header"> 
	<div class="a-header__inner container" data-scroll-lock-fill-gap>
		<a class="a-header__logo" href="./"></a>
		<button class="a-header__settings">Settings</button>
		<div class="a-header__shell">
			<button class="a-header__close"></button>
			<nav class="a-header__menu" data-scroll-lock-scrollable>
				<a class="a-header__link" href="./">Accounts</a>
				<a class="a-header__link" href="./">Insurance</a>
				<a class="a-header__link" href="./">Lifestyle</a>
				<a class="a-header__link" href="./">About us</a>
				<a class="a-header__link" href="./">News</a>
			</nav>
			<div class="a-header__lang">
				<a class="a-header__link a-header__link_lang" href="./">EN</a>
				<a class="a-header__link a-header__link_lang active" href="./">ID</a>
			</div>
			<a class="a-header__link a-header__link_access" href="./">Standard version</a>
		</div>
		<button class="a-header__toggle"></button>
	</div>
</header>