<footer class="a-footer">
	<div class="a-footer__inner container">
		<div class="a-footer__col">
			<h4 class="a-footer__text">Menu</h4>
			<a class="a-footer__link" href="./">Insurance</a>
			<a class="a-footer__link" href="./">Cryptocurrency</a>
			<a class="a-footer__link" href="./">Lifestyle</a>
		</div>
		<div class="a-footer__col">
			<h4 class="a-footer__text">Cashback from partners</h4>
			<a class="a-footer__link" href="./">News</a>
			<a class="a-footer__link" href="./">About us</a>
		</div>
		<div class="a-footer__col">
			<h4 class="a-footer__text">Subscribe</h4>
			<a class="a-footer__link" href="./">twitter</a>
			<a class="a-footer__link" href="./">facebook</a>
			<a class="a-footer__link" href="./">instagram</a>
		</div>
		<div class="a-footer__col">
			<a class="a-footer__logo" href="./"></a>
			<p class="a-footer__text"></p>
		</div>
		<div class="a-footer__col">
			<p class="a-footer__text">Call center operating hours 24/7<br> We respond with in 1 minute</p>
			<a class="a-footer__button a-button" href="./">Support Chat</a>
		</div>
		<div class="a-footer__col">
			<a class="a-footer__button a-button" href="./">App Store</a>
			<a class="a-footer__button a-button" href="./">Google play</a>
		</div>
	</div>
</footer>
<div class="a-panel a-panel-js">
	<div class="a-panel__inner container">
		<div class="a-panel__col">
			<span class="a-panel__title">Font size</span>
			<div class="a-panel__control a-panel__control_size">
				<input type="radio" name="size" id="small">
				<input type="radio" name="size" id="normal">
				<input type="radio" name="size" id="large">
			</div>
		</div>
		<div class="a-panel__col">
			<span class="a-panel__title">Website color</span>
			<div class="a-panel__control a-panel__control_scheme">
				<input type="radio" name="scheme" id="white">
				<input type="radio" name="scheme" id="dark">
				<input type="radio" name="scheme" id="cornsilk">
				<input type="radio" name="scheme" id="brown">
				<input type="radio" name="scheme" id="skyblue">
			</div>
		</div>
		<div class="a-panel__col">
			<span class="a-panel__title">Image</span>
			<div class="a-panel__control a-panel__control_image">
				<input type="checkbox" name="image" id="show">
			</div>
		</div>
		<div class="a-panel__col">
			<span class="a-panel__title">More settings</span>
			<button class="a-panel__more"></button>
		</div>
	</div>
</div>
<script src="common.js"></script> 
</body> 
</html>