<footer class="footer">
	<div class="footer__inner container">
		<div class="footer__top">
			<nav class="footer__col">
				<h3 class="footer__c-title">Menu</h3>
				<a class="footer__link" href="./">Insurance</a>
				<a class="footer__link" href="./">Cryptocurrency</a>
				<a class="footer__link" href="./">Lifestyle</a>
			</nav>
			<div class="footer__col">
				<h3 class="footer__c-title">Cashback from partners</h3>
				<a class="footer__link" href="./">News</a>
				<a class="footer__link" href="./">About us</a>
			</div>
			<div class="footer__col">
				<h3 class="footer__c-title">Subscribe</h3>
				<a class="footer__link footer__link_out footer__link_twt" href="./">twitter</a>
				<a class="footer__link footer__link_out footer__link_fcb" href="./">facebook</a>
				<a class="footer__link footer__link_out footer__link_ins" href="./">instagram</a>
			</div>
			<div class="footer__col">
				<div class="footer__info">
					<p>Call center operating hours 24/7</p>
					<p>We respond within 1 minute</p>
				</div>
				<a class="footer__link footer__link_out" href="./">Support Chat</a>
			</div>
		</div>
		<div class="footer__bottom">
			<a class="footer__logo" href="./"><img src="./images/logo-hued.png" alt=""></a>
			<div class="footer__copy">© 2023 Wawe. All Rights<br> Reserved.</div>
			<div class="footer__outside outside outside_dark">
				<a class="outside__link" href="./">App Store</a><hr>
				<a class="outside__link" href="./">Google play</a>
			</div>
		</div>
	</div>
</footer> 
<script src="common.js"></script> 
</body> 
</html>