<header class="header"> 
	<div class="header__top navi container">
		<a class="navi__logo" href="./"><img src="./images/logo.svg" alt=""></a>
		<div class="navi__shell">
			<button class="navi__close"></button>
			<nav class="navi__menu" data-scroll-lock-scrollable>
				<a class="navi__link" href="./">Accounts</a>
				<a class="navi__link" href="./">Crypto</a>
				<a class="navi__link" href="./">Insurance</a>
				<a class="navi__link" href="./">Lifestyle</a>
				<a class="navi__link" href="./">About us</a>
				<a class="navi__link" href="./">News</a>
			</nav>
			<div class="navi__lang">
				<a class="navi__link navi__link_lang active" href="./">EN</a>
				<hr>
				<a class="navi__link navi__link_lang" href="./">ID</a>
			</div>
			<a class="navi__link navi__link_access" href="./">Accessibility version</a>
		</div>
		<button class="navi__toggle"></button>
	</div>
	<div class="header__hero">
		<div class="header__slider swiper container">
			<div class="swiper-wrapper">
				<div class="header__slide swiper-slide">
					<h1 class="header__title">All financial services on your phone <span>&nbsp;—&nbsp; Buy stocks in 1 click</span></h1>
					<div class="header__images">
						<img class="header__flyer rised" src="./images/hero-image-side-1.png" alt="">
						<picture class="header__image">
							<source srcset="./images/hero-image-base-1-mobile.png" media="(max-width: 640px)">
							<img src="./images/hero-image-base-1.png" alt="">
						</picture>
					</div>
					<div class="header__corner">
						<div class="header__text">
							Call center operating hours 24/7<br>
							We respond within 1 minute
						</div>
						<div class="header__links outside">
							<a class="outside__link" href="./">App Store</a><hr>
							<a class="outside__link" href="./">Google play</a>
						</div>
					</div>
				</div>
				<div class="header__slide swiper-slide">
					<h1 class="header__title">All financial services on your phone <span>&nbsp;—&nbsp; Various types of insurance</span></h1>
					<div class="header__images">
						<img class="header__flyer" src="./images/hero-image-side-2.png" alt="">
						<picture class="header__image">
							<source srcset="./images/hero-image-base-2-mobile.png" media="(max-width: 640px)">
							<img src="./images/hero-image-base-2.png" alt="">
						</picture>
					</div>
					<div class="header__corner">
						<div class="header__text">
							Call center operating hours 24/7<br>
							We respond within 1 minute
						</div>
						<div class="header__links outside">
							<a class="outside__link" href="./">App Store</a><hr>
							<a class="outside__link" href="./">Google play</a>
						</div>
					</div>
				</div>
				<div class="header__slide swiper-slide">
					<h1 class="header__title">All financial services on your phone <span>&nbsp;—&nbsp; Translations to any banks</span></h1>
					<div class="header__images">
						<img class="header__flyer" src="./images/hero-image-side-3.png" alt="">
						<picture class="header__image">
							<source srcset="./images/hero-image-base-3-mobile.png" media="(max-width: 640px)">
							<img src="./images/hero-image-base-3.png" alt="">
						</picture>
					</div>
					<div class="header__corner">
						<div class="header__text">
							Call center operating hours 24/7<br>
							We respond within 1 minute
						</div>
						<div class="header__links outside">
							<a class="outside__link" href="./">App Store</a><hr>
							<a class="outside__link" href="./">Google play</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>