<div class="insure__block tab__block @@if(this.cls){@@cls}">
	<div class="insure__b-image">
		<img src="./images/insure-image.png" alt="">
	</div>
	<div class="insure__b-top">
		<h3 class="insure__b-title">Health and life insurance</h3>
		<div class="insure__b-text">
			<p>Exactly, health and life insurance can provide financial security in unforeseen circumstances.</p>
			<p>Insurance helps you protect yourself and your loved ones, offering peace of mind during challenging times.</p>
			<p>Everyone faces events that put their health and life at risk.</p>
		</div>
	</div>
	<div class="insure__b-cards">
		<div class="insure__b-card insure__b-card_mobile">Easy Claim Process Through Apps. Simple methods and user friendly for customers</div>
		<div class="insure__b-card insure__b-card_love">Protect Your Self and Family Get the coverage health for you and your family </div>
		<div class="insure__b-card insure__b-card_star">Start From IDR 85 000 / Year Premi can be adjusted for customers with easy payment methods</div>
	</div>
</div>