.a-text {
	$self: &;
	font-size: calc(var(--size) + 36px);
	letter-spacing: var(--spacing);
	line-height: 1.5;
	
	@include media('<=xxxlg') {
		font-size: calc(var(--size) + 32px);
	}

	@include media('<=xxlg') {
		font-size: calc(var(--size) + 28px);
	}

	@include media('<=xlg') {
		font-size: calc(var(--size) + 26px);
	}

	@include media('<=lg') {
		font-size: calc(var(--size) + 24px);
	}

	@include media('<=md') {
		// font-size: calc(var(--size) + 24px);
	}

	@include media('<=sm') {
		font-size: calc(var(--size) + 22px);
	}

	@include media('<=xs') {
		font-size: calc(var(--size) + 20px);
	}

	@include media('<=xxs') {
		font-size: calc(var(--size) + 18px);
	}

	li {
		margin: 15px 0;
		padding-left: 40px;
		position: relative;
		
		@include media('<=xlg') {
			margin: 12px 0;
			padding-left: 35px;
		}
		
		@include media('<=md') {
			margin: 10px 0;
			padding-left: 30px;
		}

		&::before {
			display: block;
			content: '';
			height: 9px;
			width: 9px;
			border-radius: 50%;
			background-color: rgb(var(--color));
			position: absolute;
			left: 10px; top: 23px;
		
			@include media('<=xlg') {
				top: 15px;
				height: 7px;
				width: 7px;
			}
				
			@include media('<=md') {
				height: 5px;
				width: 5px;
			}
			
			@include media('<=xs') {
				top: 13px;
			}
			
			@include media('<=xxs') {
				top: 11px;
			}
		}
	}
}