.container {
	$self: &;
	box-sizing: border-box;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
	max-width: $container;
	width: 100%;
	
	@include media('<=sm') {
		padding-right: 20px;
		padding-left: 20px;
	}
	
	@include media('<=xxs') {
		padding-right: 15px;
		padding-left: 15px;
	}
}