.a-controls {
	$self: &;
	display: flex;
	margin-left: 20px;
	
	@include media('<=xxlg') {
		margin-left: 15px;
	}

	@include media('<=md') {
		margin: 0px;
	}

	&__input {
		box-sizing: border-box;
		display: block;
		height: 54px;
		width: 54px;
		font-size: 32px;
		line-height: 0.9;
		font-weight: 600;

		@include media('<=xxxlg') {
			font-size: 29px;
			height: 45px;
			width: 45px;
		}
		
		@include media('<=xxlg') {
			font-size: 26px;
			height: 42px;
			width: 42px;
		}
		
		@include media('<=xlg') {
			font-size: 24px;
			height: 38px;
			width: 38px;
		}
		
		@include media('<=lg') {
			width: 34px;
			height: 34px;
		}
		
		@include media('<=md') {
			font-size: 29px;
			height: 56px;
			width: 56px;
		}
		
		@include media('<=sm') {
			font-size: 22px;
			height: 50px;
			width: 50px;
		}
		
		@include media('<=xxs') {
			width: 45px;
			height: 45px;
		}

		&:not(:last-child) {
			margin-right: 10px;
			
			@include media('<=lg') {
				margin-right: 8px;
			}
			
			@include media('<=md') {
				margin-right: 16px;
			}
			
			@include media('<=sm') {
				margin-right: 10px;
			}
		}

		span {
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 4px;
			width: 100%;
			height: 100%;
			cursor: pointer;
			border-width: 2px;
			border-style: solid;
			color: rgb(var(--color));
			border-color: rgb(var(--color));
		}

		input {
			display: none;

			&[type="radio"]  {
				& + span {
					transition: background-color 0.3s;

					&::after {
						display: none;
						content: '';
						width: 12px;
						height: 12px;
						background: url('#{$images-path}icons-sprite.svg#icon-down-view-dark') center / 150% 150% no-repeat transparent;
						position: absolute;
						top: calc(100% + 5px);
						left: calc(50% - 6px);
						transform: rotateZ(180deg);
						animation: fadeIn 0.4s;
						@include atRootThemeIcons('down');
					}
				}

				&:checked + span {
					border-width: 3px;
					background-color: rgb(var(--color));
					color: rgb(var(--bgcolor));
		
					&::after {
						display: block;
					}
				}

				&#small + span {
					font-size: 24px;
					font-weight: 500;
					
					@include media('<=xxxlg') {
						font-size: 22px;
					}
					
					@include media('<=xxlg') {
						font-size: 20px;
					}
					
					@include media('<=xlg') {
						font-size: 18px;
					}
					
					@include media('<=md') {
						font-size: 20px;
					}
					
					@include media('<=sm') {
						font-size: 18px;
					}
				}

				&#big + span {
					font-size: 44px;
					font-weight: 800;
					
					@include media('<=xxxlg') {
						font-size: 40px;
					}
					
					@include media('<=xxlg') {
						font-size: 31px;
					}
					
					@include media('<=xlg') {
						font-size: 28px;
					}
					
					@include media('<=md') {
						font-size: 40px;
					}
					
					@include media('<=sm') {
						font-size: 32px;
					}
				}
		
				&#white + span {
					border-color: #000;
					background-color: #fff;
					color: #000;
				}
		
				&#dark + span {
					border-color: #fff;
					background-color: #000;
					color: #fff;
				}
				
				&#cornsilk + span {
					border-color: #59422D;
					background-color: #F7F3D6;
					color: #59422D;
				}
				
				&#brown + span {
					border-color:#A9DD38;
					background-color: #3B2716;
					color: #A9DD38;
				}
				
				&#skyblue + span {
					border-color:#063462;
					background-color: #9DD1FF;
					color: #063462;
				}
			}

			&[type="checkbox"] {
				& + span {
					background-color: rgb(var(--color));
	
					&::before {
						display: none;
						content: '';
						width: 30px;
						height: 30px;
						background: url('#{$images-path}icons-sprite.svg#icon-check-view-white') center / 150% 150% no-repeat transparent;
						animation: fadeIn 0.4s;
						
						@include media('<=xxxlg') {
							width: 26px;
							height: 26px;
						}
						
						@include media('<=xxlg') {
							width: 24px;
							height: 24px;
						}
						
						@include media('<=xlg') {
							width: 22px;
							height: 22px;
						}
						
						@include media('<=lg') {
							width: 20px;
							height: 20px;
						}
						
						@include media('<=md') {
							width: 28px;
							height: 28px;
						}
						
						@include media('<=xxs') {
							width: 24px;
							height: 24px;
						}
			
						@at-root [data-theme="dark"] & {
							background-image: url('#{$images-path}icons-sprite.svg#icon-check-view-dark');
						}
			
						@at-root [data-theme="cornsilk"] & {
							background-image: url('#{$images-path}icons-sprite.svg#icon-check-view-cornsilk');
						}
			
						@at-root [data-theme="brown"] & {
							background-image: url('#{$images-path}icons-sprite.svg#icon-check-view-brown');
						}
			
						@at-root [data-theme="skyblue"] & {
							background-image: url('#{$images-path}icons-sprite.svg#icon-check-view-skyblue');
						}
					}
				}

				&:checked + span::before {
					display: block;
				}
			}
		}
	}

	button#more {
		@extend %reset-button;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		border-width: 2px;
		border-style: solid;
		color:  rgb(var(--color));
		border-color: rgb(var(--color));
		padding: 4px;
		height: 54px;
		width: 54px;

		@include media('<=xxxlg') {
			width: 45px;
			height: 45px;
		}
		
		@include media('<=xxlg') {
			width: 42px;
			height: 42px;
		}
		
		@include media('<=xlg') {
			width: 38px;
			height: 38px;
		}
		
		@include media('<=lg') {
			width: 34px;
			height: 34px;
		}
		
		@include media('<=md') {
			width: 56px;
			height: 56px;
		}
		
		@include media('<=sm') {
			width: 50px;
			height: 50px;
		}
		
		@include media('<=xxs') {
			width: 45px;
			height: 45px;
		}

		&::before {
			display: block;
			content: '';
			width: 35px;
			height: 35px;
			transform: rotateZ(180deg);
			background: url('#{$images-path}icons-sprite.svg#icon-list-down-view-dark') center / 150% 150% no-repeat transparent;
			@include atRootThemeIcons('list-down');

			@include media('<=xxxlg') {
				width: 30px;
				height: 30px;
			}

			@include media('<=xxlg') {
				width: 26px;
				height: 26px;
			}

			@include media('<=xlg') {
				width: 22px;
				height: 22px;
			}

			@include media('<=lg') {
				width: 20px;
				height: 20px;
			}
		}
	}
}