.title {
	$self: &;
	font-family: "DMEB", sans-serif;
	font-size: 84px;
	letter-spacing: -0.04em;

	@include media('<=xxlg') {
		@include setFontSize(84px, 34px, 1440px, 780px);
	}

	@include media('<=sm') {
		font-size: 34px;
		line-height: 1.1;
	}

	@include media('<=xs') {
		font-size: 32px;
	}

	span, a {
		color: $accent;
		text-decoration: none;
		background: var(--blue-grd, linear-gradient(264deg, #5771FF 0%, #465BCC 100%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	a:hover {
		text-decoration: underline;
	}

	&_subtitle {
		font-size: 42px;		

		@include media('<=xxlg') {
			@include setFontSize(42px, 17px, 1440px, 780px);
		}

		@include media('<=sm') {
			font-size: 17px;
		}

		@include media('<=xs') {
			font-size: 20px;
		}

		@include media('<=xxs') {
			font-size: 24px;
		}
	}
}
