.title {
	$self: &;
	font-family: "DMEB", sans-serif;
	letter-spacing: -0.04em;
	font-size: 84px;
	@include range(84px, 65px, 1920px, 1440px);
	@include range(65px, 34px, 1280px, 780px);

	@include media('<=sm') {
		line-height: 1.1;
	}

	@include media('<=xs') {
		font-size: 32px;
	}

	span, a {
		color: $accent;
		text-decoration: none;
		background: var(--blue-grd, linear-gradient(264deg, #5771FF 0%, #465BCC 100%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	a:hover {
		text-decoration: underline;
	}

	&_subtitle {
		font-size: 42px;
		@include range(42px, 33px, 1920px, 1440px);
		@include range(33px, 18px, 1280px, 780px);

		@include media('<=xs') {
			font-size: 20px;
		}

		@include media('<=xxs') {
			font-size: 24px;
		}
	}
}
