.a-protect {
	$self: &;

	&__inner {
		padding-top: 160px;
		padding-bottom: 80px;
		
		@include media('<=xxlg') {
			padding-top: 120px;
		}
			
		@include media('<=md') {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		
		@include media('<=xxs') {
			padding-top: 40px;
			padding-bottom: 30px;
		}
	}

	&__title {
		margin-bottom: 80px;
		
		@include media('<=md') {
			margin-bottom: 45px;
		}
		
		@include media('<=sm') {
			margin-bottom: 30px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 20px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
		margin-bottom: 80px;
		
		@include media('<=xxlg') {
			grid-gap: 30px;
		}
		
		@include media('<=md') {
			grid-template-columns: 1fr;
			margin-bottom: 45px;
			border-width: 1px;
		}
		
		@include media('<=sm') {
			margin-bottom: 30px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 20px;
			grid-gap: 15px;
		}
	}

	&__item {
		grid-column: span 1;
		display: flex;
		box-sizing: border-box;
		align-items: center;
		padding: 40px;
		box-sizing: border-box;
		border: 2px solid rgb(var(--color));
		
		@include media('<=lg') {
			padding: 25px;
		}
		
		@include media('<=md') {
			padding: 15px;
		}
		
		@include media('<=sm') {
			border-width: 1px;
		}

		&::before {
			display: none;
			content: '';
			width: 96px;
			height: 96px;
			animation: fadeIn 0.3s;
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-color: transparent;
			margin-right: 20px;
			flex-shrink: 0;
			
			@include media('<=lg') {
				height: 82px;
				width: 82px;
			}
			
			@include media('<=md') {
				margin-right: 15px;
				height: 72px;
				width: 72px;
			}
			
			@include media('<=xxs') {
				align-self: flex-start;
				height: 44px;
				width: 44px;
			}
		}

		@at-root[data-image='false'] &::before {
			display: none !important;
		}

		&_zoom::before {
			display: block;
			@include atRootThemeIcons('zoom');
		}
		
		&_cast::before {
			display: block;
			@include atRootThemeIcons('cast');
		}
		
		&_shield::before {
			display: block;
			@include atRootThemeIcons('saved');
		}
		
		&_smile::before {
			display: block;
			@include atRootThemeIcons('smile');
		}
	}

	&__text {
		column-count: 2;
		column-gap: 40px;
		column-width: 350px;

		p {
			break-inside: avoid;
		}
	}
}