.outside {
	$self: &;
	display: flex;
	align-items: center;
	font-family: "DM", sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 28px;
	@include range(28px, 22px, 1920px, 1440px);
	@include range(22px, 18px, 1280px, 780px);
		
	@include media('<=xs') {
		font-size: 22px;
	}
	
	@include media('<=xxxs') {
		font-size: 18px;
	}

	&_blue {
		color: $accent;

		#{$self}__link::after {
			background-image: url('#{$images-path}icons-sprite.svg#icon-link-view-accent');
		}

		hr { background-color: rgba(0, 0, 0, 0.15) !important; }
	}

	&_dark {
		color: $text;

		#{$self}__link::after {
			background-image: url('#{$images-path}icons-sprite.svg#icon-link-view-dark');
		}

		hr { background-color: rgba(0, 0, 0, 0.08) !important; }
	}

	hr {
		box-sizing: border-box;
		background-color: rgba(255, 255, 255, 0.15);
		flex-shrink: 0;
		border: none;
		margin: 0 30px;
		height: 35px;
		width: 2px;
		
		@include media('<=xxlg') {
			margin: 0 20px;
		}

		@include media('<=sm') {
			height: 25px;
		}
		
		@include media('<=xxs') {
			margin: 0 20px;
		}
	}

	&__link {
		text-decoration: none;
		display: flex;
		align-items: center;
		letter-spacing: -0.03em;
		color: inherit;

		&::after {
			display: block;
			content: '';
			width: 20px;
			height: 20px;
			background-image: url('#{$images-path}icons-sprite.svg#icon-link-view-white');
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 150% 150%;

			margin: 8px 0 0 10px;
			flex-shrink: 0;
			
			@include media('<=xxlg') {
				margin: 6px 0 0 5px;
				width: 17px;
				height: 17px;
			}
			
			@include media('<=xlg') {
				margin: 4px 0 0 5px;
			}
				
			@include media('<=md') {
				height: 15px;
				width: 15px;
			}
			
			@include media('<=sm') {
				margin: 2px 0 0 5px;
			}
			
			@include media('<=xs') {
				height: 17px;
				width: 17px;
			}
		}
	}
}
