.partner {
	$self: &;
	position: relative;
	background: #4F67E8;
	padding-top: 50px;
	@include range(160px, 80px, 1920px, 780px, 'padding-bottom');
	
	@include media('<=xs') {
		padding-bottom: 40px;
	}

	&::before {
		display: block;
		content: '';
		height: 700px;
		width: 100%;
		background: url('#{$images-path}partners-wave.svg') center top / cover no-repeat transparent;
		position: absolute;
		left: 0;
		bottom: calc(100% - 390px);
		
		@include media('<=sm') {
			height: 300px;
			bottom: calc(100% - 150px);
		}
		
		@include media('<=xs') {
			bottom: calc(100% - 20px);
		}
	}

	&__inner {
		position: relative;
		z-index: 1;
	}

	&__title {
		color: #fff;
		@include range(60px, 30px, 1440px, 780px, 'margin-bottom');
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include range(40px, 10px, 1440px, 780px, 'grid-gap');
	}

	&__item {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		justify-content: center;
		background-color: rgba(255, 255, 255, 0.1);
		@include range(15px, 6px, 1440px, 780px, 'border-radius');
		@include range(40px, 20px, 1440px, 640px, 'padding');
		@include range(260px, 100px, 1440px, 780px, 'min-height');
		
		img {
			width: 100%;
			@include range(170px, 90px, 1440px, 780px, 'max-width');
			
			@include media('<=xs') {
				max-width: 60px;
			}
		}
	}
}