.protect {
	$self: &;
	padding: 155px 0 130;
	@include range(155px, 125px, 1920px, 1440px, 'padding-top');
	@include range(125px, 60px, 1280px, 780px, 'padding-top');
	@include range(155px, 130px, 1920px, 1440px, 'padding-bottom');
	@include range(130px, 60px, 1280px, 780px, 'padding-bottom');

	@include media('<=xs') {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__inner {

	}

	&__title {
		line-height: 1.0;

		@include media('<=xs') {
			line-height: 0.98 !important;
		}
	}

	&__scene {
		padding: 60px 0 80px;
		min-height: 800px;
		
		@include media('<=xxlg') {
			min-height: 600px;
			padding: 60px 0 75px;
		}
		
		@include media('<=sm') {
			padding: 30px 0 40px;
			min-height: 300px;
		}
		
		@include media('<=xs') {
			min-height: 910px;
		}
	}

	&__bottom {
		display: grid;
		box-sizing: border-box;
		grid-template-columns: repeat(3, 1fr);
		background: linear-gradient(200deg, #5771FF 0%, #F509FF 100%), #FFF;
		color: #fff;
		letter-spacing: -0.04em;
		line-height: 1.5;
		font-size: 22px;
		@include range(22px, 17.4px, 1920px, 1440px);
		@include range(17.4px, 9px, 1280px, 780px);
		@include range(40px, 8px, 1920px, 780px, 'grid-gap');
		@include range(40px, 16px, 1920px, 780px, 'padding');
		@include range(30px, 12px, 1920px, 780px, 'border-radius');
		
		@include media('<=xs') {
			border-radius: 15px;
			padding: 18px 15px 0;
			line-height: 1.51;
			font-size: 18px;
			display: block;
		}
		
		@include media('<=xxs') {
			border-radius: 15px;
		}
	}

	&__part {
		grid-column: 1 span;
		position: relative;

		img {
			display: block;
			position: absolute;
			top: 29%;
			left: 54%;
			transform: translate(-50%, -50%);
			max-width: 75%;
			
			@include media('<=xxlg') {
				top: 29%;
				left: 57%;
				max-width: 71%;
			}
			
			@include media('<=md') {
				top: 45%;
				max-width: 70%;
			}
			
			@include media('<=sm') {
				top: 24%;
				left: 41%;
			}
			
			@include media('<=xs') {
				transform: translate(0, 25px);
				position: static;
				margin: 0 auto;
				max-width: 74%;
			}
		}
	}
}