.protect {
	$self: &;
	@include range(160px, 60px, 1920px, 780px, 'padding-top');
	@include range(160px, 60px, 1920px, 780px, 'padding-bottom');

	@include media('<=xs') {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__inner {

	}

	&__title {

	}

	&__scene {
		padding: 60px 0 80px;
		
		@include media('<=sm') {
			padding: 30px 0 40px;
		}
	}

	&__bottom {
		display: grid;
		box-sizing: border-box;
		grid-template-columns: repeat(3, 1fr);
		background: linear-gradient(200deg, #5771FF 0%, #F509FF 100%), #FFF;
		color: #fff;
		letter-spacing: -0.04em;
		line-height: 1.5;
		@include range(22px, 9px, 1440px, 780px);
		@include range(40px, 8px, 1920px, 780px, 'grid-gap');
		@include range(40px, 16px, 1920px, 780px, 'padding');
		@include range(30px, 12px, 1920px, 780px, 'border-radius');
		
		@include media('<=xs') {
			border-radius: 15px;
			padding: 18px 15px 0;
			font-size: 18px;
			display: block;
		}
		
		@include media('<=xxs') {
			border-radius: 15px;
		}
	}

	&__part {
		grid-column: 1 span;
		position: relative;

		img {
			display: block;
			position: absolute;
			top: 35%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 80%;
			
			@include media('<=md') {
				top: 45%;
				max-width: 70%;
			}
			
			@include media('<=sm') {
				top: 40%;
			}
			
			@include media('<=xs') {
				position: static;
				transform: translate(0, 25px);
				margin: 0 auto;
			}
		}
	}
}