.protect {
	$self: &;
	padding-top: 160px;
	padding-bottom: 160px;
	
	@include media('<=md') {
		padding: 80px 0;
	}
	
	@include media('<=sm') {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	@include media('<=xs') {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__inner {

	}

	&__title {

	}

	&__scene {
		padding: 60px 0 80px;
		
		@include media('<=sm') {
			padding: 30px 0 40px;
		}
	}

	&__bottom {
		display: grid;
		box-sizing: border-box;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
		padding: 40px;
		background: linear-gradient(200deg, #5771FF 0%, #F509FF 100%), #FFF;
		border-radius: 30px;
		color: #fff;
		font-size: 22px;
		letter-spacing: -0.04em;
		line-height: 1.5;
		
		@include media('<=xxlg') {
			@include setFontSize(22px, 9px, 1440px, 780px);
			border-radius: 25px;
			grid-gap: 30px;
			padding: 30px;
		}
		
		@include media('<=lg') {
			border-radius: 20px;
			grid-gap: 25px;
			padding: 25px;
		}
		
		@include media('<=md') {
			border-radius: 18px;
			grid-gap: 18px;
			padding: 18px;
		}
		
		@include media('<=sm') {
			border-radius: 12px;
			font-size: 9px;
			grid-gap: 8px;
			padding: 16px;
		}
		
		@include media('<=xs') {
			border-radius: 15px;
			padding: 18px 15px 0;
			font-size: 18px;
			display: block;
		}
		
		@include media('<=xxs') {
			border-radius: 15px;
		}
	}

	&__part {
		grid-column: 1 span;
		position: relative;

		img {
			display: block;
			position: absolute;
			top: 35%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 80%;
			
			@include media('<=md') {
				// top: calc(50% - 5px);
				top: 45%;
				max-width: 70%;
			}
			
			@include media('<=sm') {
				top: 40%;
				// top: calc(50% - 10px);
			}
			
			@include media('<=xs') {
				position: static;
				transform: translate(0, 25px);
				margin: 0 auto;
			}
		}
	}
}