.a-features {
	$self: &;

	&__inner {

	}

	&__cards {

	}

	&__card {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		justify-content: space-between;
		padding: 80px 0;
		
		&:nth-child(odd) {
			flex-direction: row-reverse;
		}
	}

	&__image {
		box-sizing: border-box;
		flex-shrink: 0;
		width: 50%;
		padding: 0 40px;
		animation: fadeIn 0.3s;

		@at-root[data-image='false'] & {
			display: none !important;
		}

		@at-root[data-theme='cornsilk'] & img {
			filter: sepia(0.25) saturate(2) hue-rotate(345deg);
		}

		@at-root[data-theme='brown'] & img {
			filter: sepia(0.7) saturate(4) hue-rotate(40deg);
		}

		@at-root[data-theme='skyblue'] & img {
			filter: sepia(0.3) saturate(4) hue-rotate(175deg);
		}

		img {
			display: block;
			margin: auto;
		}
	}

	&__side {
		flex-grow: 1;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__text {

	}

	&__bottom {

	}
}