.a-button {
	$self: &;
	@extend %reset-button;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 22px 60px;
	letter-spacing: calc(var(--spacing) - 1.44px);
	font-size: calc(var(--size) + 36px);
	border: 2px solid rgb(var(--color));
	color: rgb(var(--color));
	font-weight: 500;
	line-height: 0.9;
}
