.insure {
	$self: &;
	background-color: #fff;
	@include range(160px, 60px, 1920px, 780px, 'padding-top');
	@include range(160px, 40px, 1920px, 780px, 'padding-bottom');

	&__inner {

	}

	&__title {
		@include range(60px, 24px, 1440px, 780px, 'margin-bottom');
	}

	&__body {
		box-sizing: border-box;
		background: linear-gradient(264deg, #5771FF 0%, #465BCC 100%);
		@include range(40px, 15px, 1920px, 640px, 'padding');
		@include range(40px, 15px, 1920px, 780px, 'border-radius');
		@include range(65px, 20px, 1920px, 780px, 'margin-bottom');
		
		@include media('<=xs') {
			margin-bottom: 30px;
		}
	}

	&__buttons {
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
		margin-bottom: 30px;
		
		@include media('<=sm') {
			margin-bottom: 10px;
		}
		
		@include media('<=xs') {
			margin-bottom: 20px;
		}
	}

	&__button {

	}

	&__blocks {

	}

	&__block {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		flex-flow: column nowrap;

		&.active {
			display: grid;
		
			@include media('<=xs') {
				display: flex;
			}
		}
		
		@include media('<=sm') {
			grid-gap: 12px;
		}
	}

	&__b-image {
		grid-column: span 1;
		grid-row: 1 / span 2 ;

		@include media('<=xs') {
			margin: 0 auto 30px;
			max-width: 200px;
		}
	}
	
	&__b-top {
		grid-column: 2 / span 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include range(20px, 8px, 1920px, 780px, 'grid-gap');
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
			grid-gap: 10px;
			order: -1;
		}
	}

	&__b-title {
		color: #fff;
		font-family: "DMB", sans-serif;
		@include range(64px, 25px, 1440px, 780px);
		
		@include media('<=xs') {
			font-size: 28px;
		}
	}
	
	&__b-text {
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.5;
		@include range(22px, 8px, 1440px, 780px);
		
		@include media('<=xs') {
			margin-bottom: 30px;
			font-size: 18px;
		}

		p {
			margin-bottom: 0;
		}
	}

	&__b-cards {
		grid-column: span 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include range(20px, 8px, 1920px, 780px, 'grid-gap');
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
			grid-gap: 10px;
		}
	}
	
	&__b-card {
		box-sizing: border-box;
		font-family: "DM", sans-serif;
		background-color: #fff;
		border-radius: 12px;
		line-height: 1.3;
		padding: 25px;
		@include range(22px, 12px, 1440px, 780px);
		
		@include media('<=lg') {
			padding: 15px;
		}
		
		@include media('<=sm') {
			border-radius: 5px;
			padding: 10px;
		}
		
		@include media('<=xs') {
			border-radius: 8px;
			font-size: 18px;
			padding: 15px;
		}

		&::before {
			display: none;
			content: '';
			width: 72px;
			height: 72px;
			border-radius: 10px;
			margin-bottom: 15px;
			background-color: rgba($accent, 0.1);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 48px 48px;
			
			@include media('<=sm') {
				width: 30px;
				height: 30px;
				border-radius: 5px;
				margin-bottom: 6px;
				background-size: 20px 20px;
			}
			
			@include media('<=xs') {
				width: 60px;
				height: 60px;
				margin-bottom: 5px;
				border-radius: 10px;
				background-size: 44px 44px;
			}
		}
		
		&_mobile::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-mobile-view-accent');
		}
		
		&_love::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-love-view-accent');
			background-size: 44px 44px;
			
			@include media('<=sm') {
				background-size: 18px 18px;
			}
			
			@include media('<=xs') {
				background-size: 44px 44px;
			}
		}

		&_star::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-star-view-accent');
			background-size: 40px 38px;
			
			@include media('<=sm') {
				background-size: 15px 15px;
			}
			
			@include media('<=xs') {
				background-size: 38px 36px;
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__appeal {
		box-sizing: border-box;
		max-width: 720px;
		padding-right: 20px;
		
		@include media('<=sm') {
			max-width: 330px;
		}
		
		@include media('<=xs') {
			padding: 0;
			margin-bottom: 20px;
		}
	}

	&__links {

		a { white-space: nowrap; }
	}
}