.a-account {
	$self: &;
	padding: 160px 0 80px;
	
	@include media('<=xxlg') {
		padding: 120px 0 80px;
	}
	
	@include media('<=sm') {
		padding: 60px 0;
	}
	
	@include media('<=xxs') {
		padding: 40px 0;
	}

	&__top {
		margin-bottom: 80px;
		
		@include media('<=sm') {
			margin-bottom: 45px;
		}
	}

	&__title {

	}

	&__t-text {

	}
	
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
		
		@include media('<=xxlg') {
			grid-gap: 30px;
		}
		
		@include media('<=xlg') {
			grid-gap: 20px;
		}
		
		@include media('<=lg') {
			grid-template-columns: 1fr;
		}
	}
	
	&__card {
		grid-column: span 1;
		padding: 40px;
		box-sizing: border-box;
		border: 2px solid rgb(var(--color));
		align-self: start;
		
		@include media('<=xxlg') {
			padding: 30px;
		}
		
		@include media('<=xlg') {
			padding: 20px;
		}
		
		@include media('<=lg') {
			padding: 30px;
		}
		
		@include media('<=xs') {
			padding: 20px;
		}
	}

	&__c-icon {
		margin-bottom: 40px;
		animation: fadeIn 0.3s;
		
		@include media('<=xlg') {
			margin-bottom: 30px;
		}
		
		@include media('<=lg') {
			margin-bottom: 25px;
		}
		
		@include media('<=sm') {
			margin-bottom: 10px;
		}

		@at-root[data-image='false'] & {
			display: none !important;
		}

		@at-root[data-theme='cornsilk'] & {
			filter: sepia(0.25) saturate(2) hue-rotate(345deg);
		}

		@at-root[data-theme='brown'] & {
			filter: sepia(0.7) saturate(4) hue-rotate(40deg);
		}

		@at-root[data-theme='skyblue'] & {
			filter: sepia(0.3) saturate(4) hue-rotate(175deg);
		}
	}

	&__c-title {
		margin-bottom: 40px;
		
		@include media('<=md') {
			margin-bottom: 20px;
		}
		
		@include media('<=sm') {
			margin-bottom: 10px;
		}
	}

	&__c-text {
		margin-bottom: 40px;
	}

	&__c-link {

	}
}