.points {
	$self: &;
	padding-top: 160px;
	padding-bottom: 80px;

	@include media('<=xlg') {

	}

	@include media('<=lg') {

	}
	
	@include media('<=sm') {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	
	@include media('<=xs') {

	}

	&__top {
		margin-bottom: 60px;
		
		@include media('<=sm') {
			margin-bottom: 20px;
		}
		
		@include media('<=xs') {
			margin-bottom: 30px;
		}
	}

	&__slider {
		box-sizing: border-box;
		padding-left: 30px;
		max-width: $oneside;
		margin: 0 0 0 auto;
		width: 100%;
	
		@include media('<=sm') {
			padding-left: 20px;
		}
		
		@include media('<=xxs') {
			padding-left: 15px;
		}
	}

	&__slide {
		display: flex;
		box-sizing: border-box;
		flex-flow: column nowrap;
		border-radius: 40px;
		padding: 40px;
		position: relative;
		min-height: 570px;
		overflow: hidden;
		height: auto;
		color: #fff;
		
		@include media('<=xxlg') {
			min-height: 450px;
		}
		
		@include media('<=xlg') {
			min-height: 380px;
		}
		
		@include media('<=lg') {
			border-radius: 30px;
		}
		
		@include media('<=md') {
			padding: 30px;
			min-height: 320px;
		}
		
		@include media('<=sm') {
			padding: 20px;
			border-radius: 15px;
			min-height: 230px;
		}
		
		@include media('<=xs') {
			border-radius: 25px;
			padding: 15px;
			min-height: 250px;
		}
		
		&_dark {
			color: #404668;

			#{$self}__text {
				color: rgba(0, 0, 0, 0.5);
			}
		}

		&_cyan {
			background: linear-gradient(180deg, #43B3F6 0%, #B2E2FF 100%);
		}

		&_magenta {
			background: linear-gradient(180deg, #F509FF 0%, #F1A3F5 100%);
		}

		&_violent {
			background: linear-gradient(180deg, #6A36FE 0%, #B9A4F4 100%);
		}

		&_purple {
			background: linear-gradient(180deg, #B24AFB 0%, #D599FF 100%);
		}

		&_yellow {
			background: linear-gradient(180deg, #FFFFC4 0%, #FAFAD1 100%);
		}

		&_blue {
			background: linear-gradient(180deg, #5771FF 0%, #A3B0F5 100%);
		}

		&_red {
			background: linear-gradient(180deg, #FF0944 0%, #F0A8B9 100%);
		}
	}

	&__title {
		font-family: "DMB", sans-serif;
		margin-bottom: 15px;
		position: relative;
		z-index: 1;
		@include range(42px, 17px, 1440px, 780px);

		@include media('<=sm') {
			margin-bottom: 6px;
		}

		@include media('<=xs') {
			font-size: 20px;
		}
	}

	&__text {
		color: rgba(255, 255, 255, 0.6);
		font-family: "DML", sans-serif;
		position: relative;
		z-index: 1;
		@include range(28px, 11px, 1440px, 780px);

		@include media('<=xs') {
			font-size: 18px;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		
		img {
			display: block;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 80px;
		
		@include media('<=sm') {
			padding-top: 30px;
		}
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__appeal {
		box-sizing: border-box;
		max-width: 720px;
		padding-right: 20px;
		
		@include media('<=sm') {
			max-width: 330px;
		}
		
		@include media('<=xs') {
			padding: 0;
			margin-bottom: 20px;
		}
	}

	&__links {

		a { white-space: nowrap; }
	}
}
