.a-about {
	$self: &;
	padding: 160px 0 80px;
	
	@include media('<=xxlg') {
		padding: 120px 0 80px;
	}
	
	@include media('<=md') {
		padding: 60px 0px;
	}
	
	@include media('<=xxs') {
		padding: 40px 0px 30px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 70px;
		
		@include media('<=md') {
			margin-bottom: 40px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 20px;
		}
	}
	
	&__subtitle {
		margin-bottom: 20px;
		
		@include media('<=md') {
			margin-bottom: 10px;
		}
	}

	&__text {
		column-count: 2;
		column-gap: 40px;
		column-width: 350px;

		p {
			break-inside: avoid;
		}
	}
}
