@import "lib/additional.scss"; 
@include reset(); 


// Include breakpoints badge
body { @include screen-media(); }


// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);


// Colors
$black: #0C0D12;
$accent: #2f4ce7;
$decor: #8357FF;
$text: #404668;


// Sizes
$container: 1820px;
$oneside: calc(100vw - (100vw - 1820px) / 2);


// Fonts
@include font-face("DMSans-ExtraBold", "DM", 800);
@include font-face("DMSans-SemiBold", "DM", 600);
@include font-face("DMSans-Regular", "DM", 400);
@include font-face("DMSans-Medium", "DM", 500);
@include font-face("DMSans-Light", "DM", 300);
@include font-face("DMSans-Bold", "DM", 700);


// Dependencies styles
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/effect-fade";


// Local mixins
@mixin atRootThemeIcons($icon) {
	$themes: (
		'dark': 'white',
		'cornsilk': 'brown',
		'brown': 'lime',
		'skyblue': 'blue'
	);

	@each $theme, $color in $themes {
		@at-root [data-theme="#{$theme}"] & {
			background-image: url('#{$images-path}icons-sprite.svg#icon-#{$icon}-view-#{$color}');
		}
	}
}


// Import BEM blocks scss
@import "../blocks/**/*.scss";


// Themes
:root {
	--size: 0px;
	--spacing: 0px;
	--display: block;
	--color: 64, 70, 104;
	--bgcolor: 242, 242, 247;
	--font: "DM", sans-serif;
	
	&[data-theme] body {
		padding-top: 110px;
		padding-bottom: 110px;
		
		@include media('<=lg') {
			padding-top: 90px;
			padding-bottom: 90px;
		}
		
		@include media('<=md') {
			padding-top: 70px;
			padding-bottom: 0;
		}
		
		@include media('<=sm') {
			padding-top: 60px;
		}
	}
	
	&[data-theme="white"] {
		--bgcolor: 255, 255, 255;
		--color: 0, 0, 0;
	}
	
	&[data-theme="dark"] {
		--bgcolor: 0, 0, 0;
		--color: 255, 255, 255;
	}
	
	&[data-theme="cornsilk"] {
		--bgcolor: 247, 243, 214;
		--color: 59, 39, 22;
	}
	
	&[data-theme="brown"] {
		--bgcolor: 59, 39, 22;
		--color: 169, 221, 56;
	}
	
	&[data-theme="skyblue"] {
		--bgcolor: 157, 209, 255;
		--color: 6, 52, 98;
	}

	&[data-font="serif"] {
		--font: "Times New Roman", Times, serif;
	}

	&[data-font="sansserif"] {
		--font: "DM", sans-serif;
	}

	&[data-size="small"] {
		--size: -2px;
	}

	&[data-size="normal"] {
		--size: 0px;
	}

	&[data-size="big"] {
		--size: 2px;
	}

	&[data-spacing="standart"] {
		--size: 0px;
	}

	&[data-spacing="medium"] {
		--size: 1px;
	}

	&[data-spacing="large"] {
		--size: 2px;
	}
}

body, html {
	box-sizing: border-box;
	font-size: calc(var(--size) + #{$basesize}px);
	background-color: rgb(var(--bgcolor));
	transition: background-color 0.2s;
	font-family: var(--font);
	color: rgb(var(--color));
	line-height: 1.2;
	font-weight: 300;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}

p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }


// Animations
@keyframes fadeIn { 
	from { opacity: 0; } 
	to { opacity: 1; }
}

@keyframes waveLeftToRight {
	from { left: 0; }
	50% { left: -100% }
	to { left: 0; }
}

@keyframes waveRightToLeft {
	from { right: 0; }
	50% { right: -100% }
	to { right: 0; }
}

@keyframes waveCircleLeftToRight {
	from { left: 0; }
	50% { left: -300% }
	to { left: 0; }
}

@keyframes waveCircleRightToLeft {
	from { right: 0; }
	50% { right: -300% }
	to { right: 0; }
}

@keyframes titleFadeInUp {
	from { opacity: 0; transform: translateY(30px); }
	to { opacity: 1; transform: translateY(0)}
}

@keyframes cardFadeInUp {
	from { opacity: 0; transform: translateY(100px); }
	to { opacity: 1; transform: translateY(0)}
}
