@import "lib/additional.scss"; 
@include reset(); 

// Include breakpoints badge
// body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);

// Colors
$black: #0C0D12;
$accent: #2f4ce7;
$decor: #8357FF;
$text: #404668;

// Sizes
$container: 1820px;
$oneside: calc(100vw - (100vw - 1820px) / 2);


@include font-face("DMSans-ExtraBold", "DM", 800);
@include font-face("DMSans-SemiBold", "DM", 600);
@include font-face("DMSans-Regular", "DM", 400);
@include font-face("DMSans-Medium", "DM", 500);
@include font-face("DMSans-Light", "DM", 300);
@include font-face("DMSans-Bold", "DM", 700);
@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/effect-fade";

// Import BEM blocks scss
@import "../blocks/**/*.scss";

:root {
	--font: "DM", sans-serif;
	--spacing: 0;
	--size: 16;
	--color: #000;
	--bgcolor: #fff;
	--display: block;
}

body, html {
	box-sizing: border-box;
	font-size: #{$basesize}px;
	line-height: 1.2;
	font-family: "DM", sans-serif;
	font-weight: 300;
	background-color: #F2F2F7;
	color: $text;
	display: flex;
	min-height: 100vh;
	flex-flow: column nowrap;
}
// .main { flex: 1 0 auto; }
.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}


p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }

@keyframes waveLeftToRight {
	from { left: 0; }
	50% { left: -100% }
	to { left: 0; }
}

@keyframes waveRightToLeft {
	from { right: 0; }
	50% { right: -100% }
	to { right: 0; }
}

@keyframes waveCircleLeftToRight {
	from { left: 0; }
	50% { left: -300% }
	to { left: 0; }
}

@keyframes waveCircleRightToLeft {
	from { right: 0; }
	50% { right: -300% }
	to { right: 0; }
}

@keyframes titleFadeInUp {
	from { opacity: 0; transform: translateY(30px); }
	to { opacity: 1; transform: translateY(0)}
}

@keyframes cardFadeInUp {
	from { opacity: 0; transform: translateY(100px); }
	to { opacity: 1; transform: translateY(0)}
}
