.plans {
	$self: &;
	background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none"><rect width="1" height="1" fill="#4F67E8"/></svg>') top left / 100% 850px no-repeat transparent;
		
	@include media('<=sm') {
		background-size: 100% 250px;
	}

	&__inner {
		
		@include media('<=xs') {
			padding: 0 !important;
		}
	}
	
	&__wrapper {
		box-sizing: border-box;
		background-color: #fff;
		padding: 80px;
		@include range(80px, 60px, 1920px, 1440px, 'padding');
		@include range(60px, 28px, 1280px, 780px, 'padding');
		@include range(40px, 16px, 1920px, 780px, 'border-radius');
		
		@include media('<=xs') {
			border-radius: 0;
			padding: 40px 15px;
		}
	}

	&__title {
		line-height: 0.85 !important;
		@include range(60px, 48px, 1920px, 1440px, 'margin-bottom');
		@include range(48px, 17px, 1280px, 780px, 'margin-bottom');
		
		@include media('<=sm') {
			line-height: 1.0 !important;
		}
	}

	&__cards {
		column-count: 2;
		column-gap: 40px;
		margin-bottom: 65px;
		column-width: 220px;
		@include range(40px, 32px, 1920px, 1440px, 'column-gap');
		@include range(32px, 16px, 1280px, 780px, 'column-gap');
		@include range(65px, 20px, 1920px, 1440px, 'margin-bottom');
	}
	
	&__card {
		break-inside: avoid;
		box-sizing: border-box;
		background-color: #F2F6FC;
		border-radius: 15px;
		margin-bottom: 40px;
		padding: 40px;
		@include range(40px, 32px, 1920px, 1440px, 'margin-bottom');
		@include range(32px, 16px, 1280px, 780px, 'margin-bottom');
		@include range(40px, 32px, 1920px, 1440px, 'padding');
		@include range(32px, 16px, 1280px, 780px, 'padding');

		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: cardFadeInUp 0.7s;
				animation-fill-mode: forwards;
			}
		}

		&::before {
			display: block;
			content: '';
			width: 72px;
			height: 72px;
			border-radius: 10px;
			margin-bottom: 15px;
			background-color: rgba($accent, 0.09);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 48px 48px;
			
			@include media('<=xxlg') {
				width: 60px;
				height: 60px;
				margin-bottom: 17px;
				background-size: 40px 40px;
			}
			
			@include media('<=sm') {
				width: 30px;
				height: 30px;
				border-radius: 5px;
				margin-bottom: 6px;
				background-size: 20px 20px;
			}
			
			@include media('<=xs') {
				width: 60px;
				height: 60px;
				margin-bottom: 10px;
				border-radius: 10px;
				background-size: 44px 44px;
			}
		}

		&_wallet::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-wallet-view-accent');
		}
		
		&_location::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-location-view-accent');
		}
		
		&_shield::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-shield-view-accent');
		}
		
		&_headphone::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-headphone-view-accent');
		}
		
		&_car::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-car-view-accent');
		}
		
		&_graf::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-graf-view-accent');
		}
	}

	&__c-title {
		margin-bottom: 15px;
		
		@include media('<=xxlg') {
			margin-bottom: 10px;
		}
		
		@include media('<=xs') {
			font-family: "DMM", sans-serif !important;
			font-size: 18px !important;
			margin-bottom: 5px;
		}
	}

	&__c-text {
		color: rgba($text, 0.6);
		font-size: 28px;
		letter-spacing: -0.01em;
		@include range(28px, 22px, 1920px, 1440px);
		@include range(22px, 11px, 1280px, 780px);

		@include media('<=xs') {
			font-size: 18px;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@include media('<=sm') {

		}
		
		@include media('<=xs') {
			display: block;
		}
	}

	&__appeal {
		box-sizing: border-box;
		max-width: 720px;
		padding-right: 20px;
		
		@include media('<=sm') {
			max-width: 330px;
		}
		
		@include media('<=xs') {
			padding: 0;
			margin-bottom: 20px;
		}
	}

	&__outside {

	}
}