.plans {
	$self: &;
	background: svg-url('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" preserveAspectRatio="none"><rect width="1" height="1" fill="#4F67E8"/></svg>') top left / 100% 850px no-repeat transparent;

	&__inner {
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 40px;
		padding: 80px;
	}

	&__title {
		margin-bottom: 60px;
		line-height: 0.85;
	}

	&__cards {
		column-count: 2;
		column-width: 220px;
		column-gap: 40px;
		margin-bottom: 65px;
	}

	&__card {
		box-sizing: border-box;
		background-color: #F2F6FC;
		padding: 40px;
		border-radius: 15px;
		margin-bottom: 40px;

		&::before {
			display: block;
			content: '';
			width: 72px;
			height: 72px;
			border-radius: 10px;
			margin-bottom: 15px;
			background-color: rgba($accent, 0.09);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 48px 48px;
			
			@include media('<=sm') {
				width: 30px;
				height: 30px;
				border-radius: 5px;
				margin-bottom: 6px;
				background-size: 20px 20px;
			}
			
			@include media('<=xs') {
				width: 60px;
				height: 60px;
				margin-bottom: 5px;
				border-radius: 10px;
				background-size: 44px 44px;
			}
		}

		&_wallet::before {
			display: block;
			background-image: url('#{$images-path}icons-sprite.svg#icon-wallet-view-accent');
		}
		
		&_location::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-location-view-accent');
		}
		
		&_shield::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-shield-view-accent');
		}
		
		&_headphone::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-headphone-view-accent');
			background-size: 44px 44px;
		}
		
		&_car::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-car-view-accent');
		}
		
		&_graf::before {
			background-image: url('#{$images-path}icons-sprite.svg#icon-graf-view-accent');
			background-size: 44px 44px;
		}
	}

	&__c-title {
		margin-bottom: 15px;
	}

	&__c-text {

	}

	&__bottom {

	}

	&__appeal {

	}

	&__outside {

	}
}