.header {
	$self: &;
	box-sizing: border-box;
	z-index: 1;
	position: relative;
	height: 200vh;
	margin-bottom: 100vh;

	&__inner {
		top: 0;
		height: 100vh;
		max-height: 915px;
		position: sticky;
		background: linear-gradient(264deg, #5771FF 0%, #465BCC 100%);
		display: flex;
		flex-flow: column nowrap;
	}

	&__top {
		height: 95px;
		
		@include media('<=md') {
			height: 60px;
		}
		
		@include media('<=sm') {
			height: 40px;
		}
		
		@include media('<=xs') {
			height: 60px;
		}
	}

	&__hero {
		padding-top: 80px;
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}
	
	&__side {
		padding-bottom: 80px;
		display: flex;
		flex-flow: column nowrap;
	}

	&__title {
		display: inline-block;
		font-size: 100px;
		font-family: "DMEB", sans-serif;
		color: rgba(255, 255, 255, 0.3);
		line-height: 0.95;
		letter-spacing: -0.04em;

		span {
			color: #fff;
		}
	}
	
	&__s-bottom {
		margin-top: auto;
	}
	
	&__sb-text {
		font-size: 28px;
		font-family: "DML", sans-serif;
		letter-spacing: -0.038em;
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.6;
		margin-bottom: 30px;
	}

	&__sb-links {
		display: flex;
		align-items: center;

		hr {
			box-sizing: border-box;
			background-color: rgba(255, 255, 255, 0.15);
			flex-shrink: 0;
			border: none;
			margin: 0 30px;
			width: 2px;
			height: 35px;
		}
	}

	&__sb-link {
		color: #fff;
		text-decoration: none;
		font-size: 28px;
		display: flex;
		letter-spacing: -0.03em;

		&::after {
			display: block;
			content: '';
			width: 19px;
			height: 17px;
			background: url('#{$images-path}icons-sprite.svg#icon-arr-link-view') center / contain no-repeat transparent;
			margin: 10px 0 0 10px;
		}
	}

	&__images {
		padding: 0 60px;
	}

	&__image {
		display: block;
	}
}