.features {
	$self: &;
	@keyframes featureMove {
		from { transform: rotateZ(10deg) translate(-50%, -50%); }
		50% { transform: rotateZ(-10deg) translate(-50%, -50%); }
		to { transform: rotateZ(10deg) translate(-50%, -50%); }
	}

	@keyframes featureMoveReverse {
		from { transform: rotateZ(-10deg) translate(-50%, -50%); }
		50% { transform: rotateZ(10deg) translate(-50%, -50%); }
		to { transform: rotateZ(-10deg) translate(-50%, -50%); }
	}

	&__inner {
		padding-bottom: 150px;
		overflow: hidden;
		
		@include media('<=xxlg') {
			padding-bottom: 120px;
		}
		
		@include media('<=lg') {
			padding-bottom: 100px;
		}
		
		@include media('<=md') {
			padding-bottom: 80px;
		}
		
		@include media('<=sm') {
			padding-bottom: 40px;
		}
		
		@include media('<=xs') {
			padding-bottom: 40px;
		}
	}

	&__cards {
		// margin-bottom: 15px;
	
		@include media('<=xs') {
			// margin-bottom: 0;
		}
	}

	&__card {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		justify-content: space-between;
		padding: 80px 0;
		@include range(80px, 60px, 1920px, 1440px, 'padding-top');
		@include range(60px, 30px, 1280px, 780px, 'padding-top');
		@include range(80px, 60px, 1920px, 1440px, 'padding-bottom');
		@include range(60px, 30px, 1280px, 780px, 'padding-bottom');
		
		&:nth-child(odd) {
			flex-direction: row-reverse;
		}
		
		@include media('<=xs') {
			padding: 35px 0;
			display: block;
		}
	}

	&__side {
		width: calc(50% - 40px);
		flex-shrink: 0;
		
		@include media('<=xlg') {
			width: calc(50% - 30px);
		}
		
		@include media('<=lg') {
			width: calc(50% - 20px);
		}
		
		@include media('<=sm') {
			width: calc(50% - 10px);
		}

		@include media('<=xs') {
			width: auto;
		}
	}
	
	&__title {
		margin-bottom: 40px;		
		
		@include media('<=xs') {
			margin-bottom: 10px;
		}
	}
	
	&__text {
		color: rgba($text, 0.6);
		font-size: 28px;
		@include range(28px, 21px, 1920px, 1440px);
		@include range(21px, 16px, 1280px, 780px);
		
		@include media('<=xs') {
			font-size: 18px;
		}

		strong {
			color: $text;
		}
	}
	
	&__image {
		flex-shrink: 0;
		border-radius: 40px;
		width: calc(50% - 40px);
		background-color: rgba($decor, 0.06);
		position: relative;
		height: 610px;
		@include range(610px, 480px, 1920px, 1440px, 'height');
		@include range(480px, 248px, 1280px, 780px, 'height');
		
		@include media('<=xlg') {
			width: calc(50% - 30px);
		}
		
		@include media('<=lg') {
			width: calc(50% - 20px);
			border-radius: 30px;
		}
		
		@include media('<=sm') {
			width: calc(50% - 10px);
			border-radius: 20px;
		}
		
		@include media('<=xs') {
			height: 240px;
			width: auto;
			margin-bottom: 20px;
		}

		img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			transform-origin: left top;
			max-height: calc(100% + 150px);
			
			@include media('<=xxlg') {
				max-height: calc(100% + 125px);
			}
			
			@include media('<=sm') {
				max-height: calc(100% + 60px);
			}
			
			@include media('<=xs') {
				max-height: calc(100% + 50px);
			}
		}
		
		&_first img {
			max-width: 90%;
			animation-duration: 14s;
			animation-name: featureMove;
		}

		&_second img {
			max-width: 80%;
			animation-name: featureMoveReverse;
			animation-duration: 8s;
		}
		
		&_thrid img {
			max-width: 90%;
			animation-duration: 12s;
			animation-name: featureMove;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media('<=sm') {
			padding-top: 14px;
		}
		
		@include media('<=xs') {
			display: block;
			padding: 0;
		}
	}

	&__appeal {
		box-sizing: border-box;
		max-width: 580px;
		padding-right: 20px;
		
		@include media('<=sm') {
			max-width: 340px;
		}
		
		@include media('<=xs') {
			padding: 0;
			margin-bottom: 20px;
		}
	}

	&__links {

		a { white-space: nowrap; }
	}
}